main {
  width: 100%;

  .logo_container {
    max-width: 73px;
    margin-top: -50px;
    margin-bottom: 35px;
    margin-left: -45px;
  }
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 100%;
  max-width: 85px;
  padding: 0.125rem;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }

  & span {
    margin-right: 0.5rem;
    font-size: 12px;
  }

  & svg {
    fill: #fff;
    height: 1rem;
    width: 1rem;
  }
}
