.nav-pills .nav-link {
  text-transform: uppercase;
  color: var(--customBlue);
  font-size: 15px;

  &:not(.nav-link.active):hover {
    color: var(--customBlueLight);
    background: rgba(0, 0, 0, 0.2);
  }
}

.nav-pills .nav-link.active {
  background: var(--customBlue);
}
